* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}
.header-section {
    height: 368px;
    background-color: #121214;
}
.container-form {
    max-width: 738px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    margin-top: -140px;
}

.form {
    background-color: #FAFAFC;
    padding: 64px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
}
p {
    color: #fff;
}